{{- range $appName, $app := .Values.apps }}
{{- if and $app.name $app.ports }}
{{- $slots := list "" }}
{{- if and $app.blueGreen $app.blueGreen.enabled }}
  {{- $slots = list "blue" "green" }}
{{- end }}
{{- range $slot := $slots }}
{{- $name := $app.name }}{{ if eq $slot "green" }}{{ $name = printf "%s-green" $app.name }}{{ end }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ $name }}
  namespace: {{ $.Values.global.namespace }}
  labels:
    {{- include "appshpere.labels" $ | nindent 4 }}
    app: {{ $app.name }}
    {{- if $slot }}
    slot: {{ $slot }}
    {{- end }}
spec:
  selector:
    app: {{ $name }}
  ports:
    - name: http-port
      protocol: TCP
      port: {{ $app.ports.port }}
      targetPort: {{ $app.ports.targetPort | default $app.ports.port }}
      {{- if and $app.ports.nodePort (or (not $slot) (eq $slot "blue")) }}
      nodePort: {{ $app.ports.nodePort }}
      {{- end }}
    {{- if $app.ports.grpcPort }}
    - name: grpc-port
      protocol: TCP
      port: {{ $app.ports.grpcPort }}
      targetPort: {{ $app.ports.grpcTargetPort | default $app.ports.grpcPort }}
      {{- if and $app.ports.grpcNodePort (or (not $slot) (eq $slot "blue")) }}
      nodePort: {{ $app.ports.grpcNodePort }}
      {{- end }}
    {{- end }}
  type: {{ if $app.service }}{{ $app.service.type | default "ClusterIP" }}{{- end}}
{{- end }}
{{- end }}
{{- end }}