{{- range $appName, $app := .Values.apps }}
{{- if and $app.name $app.hpa $app.hpa.enabled }}
{{- $slots := list "" }}
{{- if and $app.blueGreen $app.blueGreen.enabled }}
  {{- $slots = list "blue" "green" }}
{{- end }}
{{- range $slot := $slots }}
{{- $name := $app.name }}{{ if eq $slot "green" }}{{ $name = printf "%s-green" $app.name }}{{ end }}
---
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: {{ $name }}-hpa
  namespace: {{ $.Values.global.namespace }}
  labels:
    {{- include "appshpere.labels" $ | nindent 4 }}
    app: {{ $app.name }}
    {{- if $slot }}
    slot: {{ $slot }}
    {{- end }}
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: {{ $name }}
  minReplicas: {{ $app.hpa.minReplicas }}
  maxReplicas: {{ $app.hpa.maxReplicas }}
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: {{ $app.hpa.targetCPUUtilizationPercentage }}
{{- end }}
{{- end }}
{{- end }}