{{- if  and .Values.gateway .Values.gateway.enabled }}
{{- $anyRedirect := false }}
{{- range $listenerName, $listener := .Values.gateway.listeners }}
  {{- if and $listener.tls $listener.sslRedirect }}
    {{- $anyRedirect = true }}
  {{- end }}
{{- end }}

{{- if $anyRedirect }}
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: {{ .Values.gateway.name }}-redirect
  namespace: {{ $.Values.global.namespace }}
spec:
  parentRefs:
{{- range $listenerName, $listener := .Values.gateway.listeners }}
  {{- if and $listener.tls $listener.sslRedirect }}
    - name: {{ $.Values.gateway.name }}
      sectionName: {{ $listener.host | replace "." "-" }}-http
  {{- end }}
{{- end }}
  hostnames:
{{- range $listenerName, $listener := .Values.gateway.listeners }}
  {{- if and $listener.tls $listener.sslRedirect }}
    - {{ $listener.host | quote }}
  {{- end }}
{{- end }}
  rules:
    - filters:
        - type: RequestRedirect
          requestRedirect:
            scheme: https
            statusCode: 301
{{- end }}
{{- end }}
