{{- if  and .Values.gateway .Values.gateway.enabled }}
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: {{ .Values.gateway.name }}-route
  namespace: {{ $.Values.global.namespace }}
spec:
  parentRefs:
{{- range $listenerName, $listener := .Values.gateway.listeners }}
    {{- if $listener.tls }}
    # Bind to HTTPS listener
    - name: {{ $.Values.gateway.name }}
      sectionName: {{ $listener.host | replace "." "-" }}-https
    {{- if not $listener.sslRedirect }}
    # Bind to HTTP listener (Redirect disabled)
    - name: {{ $.Values.gateway.name }}
      sectionName: {{ $listener.host | replace "." "-" }}-http
    {{- end }}
    {{- else }}
    # Bind to HTTP listener
    - name: {{ $.Values.gateway.name }}
      sectionName: {{ $listener.host | replace "." "-" }}-http
    {{- end }}
{{- end }}
  hostnames:
{{- range $listenerName, $listener := .Values.gateway.listeners }}
    - {{ $listener.host | quote }}
{{- end }}

  rules:
{{- range $listenerName, $listener := .Values.gateway.listeners }}
{{- $host := $listener.host }}

{{- range $routeName, $route := $listener.routes }}
    - matches:
        - headers:
            - name: Host
              value: {{ $host | quote }}
          path:
            type: {{ $route.pathType | default "PathPrefix" }}
            value: {{ $route.path | default "/" | quote }}
      backendRefs:
        {{- range $backendName, $backend := $route.backendRefs }}
        {{- $app := index $.Values.apps (trimSuffix "-green" $backend.name) }}
        {{- if or (not (hasSuffix "-green" $backend.name)) (and $app $app.blueGreen $app.blueGreen.enabled) }}
        - name: {{ $backend.name }}
          port: {{ $backend.port }}
          {{- if not (kindIs "invalid" $backend.weight) }}
          weight: {{ $backend.weight }}
          {{- end }}
        {{- end }}
        {{- end }}
      {{- if $route.filters }}
      filters:
        {{- toYaml $route.filters | nindent 8 }}
      {{- end }}
{{- end }}

{{- end }}
{{- end }}
