{{- if and .Values.rbac .Values.rbac.enabled }}

{{- /* Namespace Level SA */}}
{{- if .Values.rbac.namespace.enabled }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ .Values.rbac.namespace.serviceAccountName }}
  namespace: {{ .Values.global.namespace }}
  labels:
    {{- include "appshpere.labels" . | nindent 4 }}

{{- if .Values.rbac.namespace.tokenSecretName }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.rbac.namespace.tokenSecretName }}
  namespace: {{ .Values.global.namespace }}
  labels:
    {{- include "appshpere.labels" . | nindent 4 }}
  annotations:
    kubernetes.io/service-account.name: {{ .Values.rbac.namespace.serviceAccountName }}
type: kubernetes.io/service-account-token
{{- end }}
{{- end }}

{{- /* Cluster Level SA */}}
{{- if .Values.rbac.cluster.enabled }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ .Values.rbac.cluster.serviceAccountName }}
  namespace: {{ .Values.global.namespace }}
  labels:
    {{- include "appshpere.labels" . | nindent 4 }}

{{- if .Values.rbac.cluster.tokenSecretName }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.rbac.cluster.tokenSecretName }}
  namespace: {{ .Values.global.namespace }}
  labels:
    {{- include "appshpere.labels" . | nindent 4 }}
  annotations:
    kubernetes.io/service-account.name: {{ .Values.rbac.cluster.serviceAccountName }}
type: kubernetes.io/service-account-token
{{- end }}
{{- end }}

{{- end }}